!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Thanks for contacting to the Right Reply support #{@name}!
    %p
      Your request has been received, one of the support person will get back to you shortly.
