%ul.sidebar.navbar-nav.pt-4
  %li.nav-item.active
    = link_to user_dashboard_path(current_user), class: "nav-link" do
      %i.fas.fa-tachometer-alt
      %span Dashboard
  %li.nav-item
    = link_to user_configuration_path(current_user), class: "nav-link" do
      %i.fas.fa-cog
      %span Configuration
  %li.nav-item
    %a.nav-link{:href => "tables.html"}
      %i.fas.fa-microphone.mr-1
      %span Widgets
  %li.nav-item
    = link_to rswag_ui_path, class: 'nav-link' do
      %i.fas.fa-share-alt
      %span Api