
%ul.sidebar.navbar-nav.pt-4
  .sidebarToggle.btn-slide.btn-admin-slide.d-sm-none.d-lg-block.d-md-block
    .navbar-toggler-icon{:onclick => "myFunction(this)"}
      %i.fas.fa-arrow-left  
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'dashboard' ? 'active' : ''}
    = link_to user_dashboard_path(current_user), class: "nav-link" do
      %i.fas.fa-tachometer-alt
      %span Dashboard
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'configuration' ? 'active' : ''}
    = link_to user_configuration_path(current_user), class: "nav-link" do
      %i.fas.fa-cog
      %span Configuration
  %li.nav-item
    %a.nav-link{:href => "tables.html"}
      %i.fas.fa-microphone.mr-1
      %span Widgets
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'api' ? 'active' : ''}
    = link_to user_api_path(current_user), class: 'nav-link' do
      %i.fas.fa-share-alt
      %span Api