#page-top
  #wrapper
    / Sidebar
    = render partial: 'sidebar_menu'
    #content-wrapper.pb-3
      .container-fluid
        .row
          .col-md-12
            %h4.mb-4
              Right Reply API

        %iframe{:src => "#{ENV['SWAGGER_HOST']}/api-docs/index.html"}

