#page-top
  #wrapper
    / Sidebar
    = render partial: 'sidebar_menu'
    #content-wrapper.pb-3
      .container-fluid
        
        / Breadcrumbs
        %ol.breadcrumb
          %li.breadcrumb-item
            = link_to 'Dashboard', user_dashboard_path(current_user)
          %li.breadcrumb-item.active Overview
        / Icon Cards

        %iframe{:src => "#{ENV['SWAGGER_HOST']}/api-docs/index.html"}

