#page-top
  #wrapper
    / Sidebar
    = render partial: 'sidebar_menu'
    #content-wrapper.pb-3
      .container-fluid
        .row
          .col-md-12
            %h4.mb-4
              Subscription
            .col-sm-12
              Content goes here

