#page-top
  #wrapper
    / Sidebar
    = render partial: 'sidebar_menu'
    #content-wrapper.pb-3
      .container-fluid
        .row
          .col-md-12
            %h4
              Widgets section
        .row.pt-3
          .col-md-12      
            .graph-box.p-5.mb-4
              .row
                .col-md-12
                  %h5
                    Site Name
              .row
                .col-md-12
                  .form-group
                    .form-control.form-control-lg.rounded-pill.copy-site
                      %button.btn.btn-primary.rounded-pill.btn-custom
                        Click to copy
            .graph-box.p-5.mb-4
              .row
                .col-md-12
                  %h5
                    Site Name 2
              .row
                .col-md-12
                  .form-group
                    .form-control.form-control-lg.rounded-pill.copy-site
                      %button.btn.btn-primary.rounded-pill.btn-custom
                        Click to copy      

	