%footer
  .container
    .row
      .col-12.col-sm-12.col-md-12.col-xl-6.copyright-text
        %p.copyright © 2019 Right Reply - Powered by Intagleo.com. All Rights Reserved.
      .col-12.col-sm-12.col-md-12.col-xl-6
        %ul.navigation-footer.text-right
          %li.d-inline-block.active
            %a{:href => "#home"} Home
          %li.d-inline-block
            %a{:href => "#about"} About
          %li.d-inline-block
            %a{:href => "#features"} Features
          %li.d-inline-block
            %a{:href => "#pricing"} Pricing
          %li.d-inline-block
            %a{:href => "#contact"} Contact
