%header
  %nav.navbar.navbar-expand-lg.fixed-top.navbar-white.bg-white.justify-content-between
    .navbar-header
      %a.navbar-brand{:href => "#"}
        .logo.d-lg-block
          = image_tag "right-reply-logo.png"
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        .navbar-toggler-icon{:onclick => "myFunction(this)"}
          .bar1
          .bar2
          .bar3
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navigation.nav.navbar-nav.ml-auto
        %li#link_1.d-inline-block.active
          %a{:href => "#home"} Home
        %li#link_2.d-inline-block
          %a{:href => "#about"} About
        %li#link_3.d-inline-block
          %a{:href => "#features"} Features
        %li#link_4.d-inline-block
          %a{:href => "#pricing"} Pricing
        %li#link_5.d-inline-block
          %a{:href => "#contact"} Contact
    .login-buttons
      .login-hover.hover-effects-login
        %a#dropdownMenuButton.login-button.d-inline-block.buttons{:href => "javascript:void(0)"} login
        .dropdown
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
            .row
              .col-12.col-sm-12.col-md-12.col-xl-12
                %form.form-signin.login-form
                  .form-label-group.icon
                    %input.form-control{:placeholder => "Email", :type => "text"}/
                    %i.fas.fa-envelope
                  .form-label-group.icon
                    %input.form-control{:placeholder => "Password", :type => "password"}/
                    %i.fas.fa-lock
                  .custom-control.custom-checkbox.mb-3
                    .float-left
                      %input#customCheck1.custom-control-input{:type => "checkbox"}/
                      %label.custom-control-label{:for => "customCheck1"} Remember me
                    .float-right.forgot-pass
                      %a{:href => "#"} Forgot Password?
                  %button.btn.btn-lg.btn-primary.btn-block.submit-button{:type => "submit"} Login
                .already-account
                  %p
                    Dont have an account?
                    %a{:href => "#"} Sign Up
        .overlay
      .login-hover.hover-effects-signup
        %a#dropdownMenuButton.signup-button.d-inline-block.buttons{:href => "javascript:void(0)"} Sign Up
        .dropdown.sign-up
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
            .row
              .col-12.col-sm-12.col-md-12.col-xl-12
                %form.form-signin.login-form.sign-up
                  .row
                    .col-sm-6
                      .form-label-group
                        %input.form-control{:placeholder => "First Name", :type => "text"}/
                    .col-sm-6
                      .form-label-group
                        %input.form-control{:placeholder => "Last Name", :type => "text"}/
                  .form-label-group
                    %input.form-control{:placeholder => "Email", :type => "text"}/
                  .form-label-group
                    %input.form-control{:placeholder => "Password", :type => "password"}/
                  .form-label-group
                    %input.form-control{:placeholder => "Confirm Password", :type => "password"}/
                  %button.btn.btn-lg.btn-primary.btn-block.submit-button{:type => "submit"} Sign up
                .already-account
                  %p
                    Already have an account ?
                    %a{:href => "#"} Login
        .overlay
