- flash.each do |key, value|
  - new_key = get_key(key)
  %div{:class => "alert alert-#{new_key} text-center mb-0"}
    %p.mb-0
      = value

:javascript
  setTimeout(function(){
    $('.alert').slideUp();
   }, 3000);
